<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
        <input type="text" v-model="length">mm
        <br>
        <!-- /换算成米 M -->
        {{length | meter}}
     </div>
        <div>
        <!-- //通过管道符 把前面的数据传到后的过滤器中中去 -->
        <input type="text" v-model="price">
        <br>
        {{ price | currency('USD')}}
    </div>
    </div>
    <script src="../vue-2.4.0.js"></script>
    <script>
        //filter一般都是做一些简单的事情 ， 
          Vue.filter('meter',function(val,unit){
            var val=val ||0;
            var unit=unit ||"m";
            return (val/1000).toFixed(2)+unit;
        });
        //定义过滤器 第一个参数是上面的第一个值
        //第二个参数是钱的单位
        Vue.filter('currency',function(val,unit){
            var val=val ||0;
            var unit=unit ||"元";
            return val+unit;
        });
        new Vue({
            el:"#app",
            data:{
                price:10,
                length:10
            }
        })
    </script>
</body>
</html>