<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <!-- <li v-for="food in foodList">{{ food.name }} :￥{{ food.price * food.discount}}</li> -->
            <!-- 可以用三元表达式的形式去写 -->
            <li v-for="food in foodList">{{ food.name }} :￥{{ food.price ?food.price*food.discount:food.price}}</li>
        </ul>
    </div>
    <script src="../vue-2.4.0.js"></script>
    <script>
    var app=new Vue({
        el:"#app",
        data:{
            //这种储存数据的方式不够灵活
            // foodList:['葱','姜','蒜'],
            foodList:[
                {
                    name:"葱",
                    price:3,
                    discount:.9
                },
                {
                    name:"姜",
                    price:20,
                    discount:.9
                },
                {
                    name:"蒜",
                    price:30,
                    discount:.2
                }
            ]
        }
    });
    </script>
</body>
</html>