<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">黑马博客</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- 注册和登录按钮组 -->
                <div class="navbar-form nav navbar-nav navbar-right">
                    <a class="btn btn-success" href="/register">注册</a>
                    <a class="btn btn-primary" href="/login">登录</a>
                </div>
                <!-- 用户名和注销按钮组 -->
                <div class="navbar-form nav navbar-nav navbar-right">
                    <button class="btn btn-warning">用户名 <strong> *** </strong></button>
                    <button class="btn btn-danger">注销</button>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">发表内容 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">文章</a></li>
                            <li><a href="#">问题</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>文章列表</h1>
    </div>

    <!-- copyright -->
    <div class="text-center text-muted" style="margin-top: 50px;">黑马程序员 &copy; 杭州中心 2019</div>
</body>
</html>